body {
    background-color: #000;
}

.container {
    width: 900px;
    height: 500px;
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}

.calc {
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    row-gap: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.calc-title {
    font-size: 40px;
    font-weight: 700;

}

input {
    width: 280px;
    height: 22px;
    padding: 8px;
    font-size: 1.2em;
    margin: 15px 70px;
    border-radius: 5px;
    text-align: right;
}

input[type=number]:focus {
    outline: none;
    box-shadow: 0 0 15px #3b59ee;
    border: 2px solid #74d0ff;
}

button {
    background-color: #007afe;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0069d9;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.history {
    background-color: #000;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 380px;
    padding: 30px;
    row-gap: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0, 0.2);
}

.history-title {
    text-align: center;
}

.last-operation {
    text-align: right;
}